.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

.leftsidehome {
  flex: 0.155;
  pad: 25px 10px;
  position: relative;
}

.middleside {
  flex: 0.5;
  flex-direction: column;
  border-left: 1px solid #cfcdcd;
}

.rightside {
  flex: 0.345;
}